 <!DOCTYPE html>
 <html lang="en">

 <head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Amp It Up">
  <meta name="keywords" content="Digital Marketing, Blog, Social Media, Online Advertising, Digital Marketing Agency, Jerusalem, Tel Aviv, Israel, Elisha Kramer">
  <meta name="author" content="Elisha Kramer">

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-89533787-1', 'auto');
    ga('send', 'pageview');

  </script>

  <meta name="google-site-verification" content="mXE5fXklRR6u_hpkMSsxaX43Uhs7eEN1g0MivpVumRA" />
  
  <title>Amp It Up</title>

  <!-- Bootstrap Core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css">

  <!-- Custom Fonts -->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet">


  <!-- Theme CSS -->
  <link href="css/agency.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

      </head>

      <body ng-app="Amp" background="img/background-image.jpg" id="page-top" class="index">

        <!-- Navigation -->
        <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
              </button>
              <a class="navbar-brand page-scroll" href="#page-top">Amp It Up</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right text-color">
                <li class="hidden">
                  <a href="#page-top"></a>
                </li>
                <li>
                  <a class="page-scroll" href="index.html"><b>Getting Started</b></a>
                </li>
                <li>
                  <a class="page-scroll" href="#team"><b>Community Forum</b></a>
                </li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.container-fluid -->
        </nav>

        <div class="container">
          <div ui-view></div>
        </div>


    </div>
  </div>
</div>

</section>



<!-- Team Section -->
<div id="team">
  <div class="row">
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
  </div>


  <!-- Introducing the Community Forum here. You may
  want to add an id so that you can navigate here straight from the
  HomePage Menu   -->
 

    <br>
  <div class="jumbotron text-center">
    <h2>Community Forum</h2>
  </div>

  <br>
  <br>


  <div class="row">

    <div ng-controller="MainCtrl">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
                
               <div ng-repeat='list in beerArray track by $index'>
            <div class="panel panel-default">
            
              <a class="panel-heading" ui-sref='beer({id: list._id})'>Title: {{list.name}}</a>
              <div class="panel-body">
                Comment: {{list.style}}
                Post By: {{list.abv}}
              </div>
              <div>
              Image: <img class="image-beer" ng-src="{{list.image}}">
              </div>
                Rating: {{list.rating}} 

              <button ng-click='increment($index)'>Increase Rating</button>

              <button ng-click='removeBeer($index)'>
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>

            </div>
          </div>


          <!-- Input form for new blog post -->

            <br>
          <div class="jumbotron text-center">
            <h3>Add a new post</h3>
          </div>


              <div class="page-header">
              </div>

              <!-- render beers here -->

              <form ng-submit="addBeer()">
                

                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Title" ng-model="name"></input>
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Comment" ng-model="style"></input>
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Your Name" ng-model="abv"></input>
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Image URL" ng-model="image"></input>
                </div>

                <button type="submit" class="btn btn-primary">Add</button>
              </form>
            




      </div>
    </div>
   </div>


        <!-- <div ui-view></div> -->



    <div class="row">
      <div class="col-md-4 col-sm-6 portfolio-item">
        <div class="team-member">

          <a href="https://il.linkedin.com/in/elishakramer" target="_blank" class="page-scroll btn btn-xl">LinkedIn Page</a>

          <br>
          <br>

        </ul>
      </div>
    </div>


    <div class="col-md-4 col-sm-6 portfolio-item">
      <div class="team-member">

        <a href="https://www.facebook.com/Alephmarketingpros/" target="_blank" class="page-scroll btn btn-xl">Facebook Page</a>

        <br>
        <br>

      </ul>
    </div>
  </div>


  <div class="col-md-4 col-sm-6 portfolio-item">
    <div class="team-member">

     <a href="https://github.com/ElishaKay" target="_blank" class="page-scroll btn btn-xl">Check out My GitHub</a>

     <br>
     <br>

   </div>
 </div>


 <!-- Contact Section -->
 <section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Stay in touch ✌️</h2>



        <h3 class="section-subheading text-muted">Feel free to send me an email anytime at: <a href="mailto:kramer1346@gmail.com">Kramer1346@Gmail.Com</a></h3>
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; Amp It Up 2016</span>
          </div>

          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li><a href="#">Privacy Policy</a>
              </li>
              <li><a href="#">Terms of Use</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>



<!-- Dependencies for allowing users to post articles -->


   <script src="vendor/angular/angular.js"></script>
   <script src="vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
    
    <script src="app.js"></script>
    <script src="js/services/beers.js"></script>
    <script src="js/controllers/mainController.js"></script>
    <script src="js/controllers/beersController.js"></script>



    <!-- Dependencies for Amp It Up Site-->


   

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/agency.min.js"></script>

  </body>
  </html>