<div class="page-header">

  <div>
  
    <div class="jumbotron text-center">
      <h2><span>{{beer.name}}</span></h2>
      <p><strong>
        {{beer.style}}
      </p></strong>
    </div>




<!-- 
  Looping through the reviews associated with this post,
  and rendering the reviews array unto the page -->

    <span>{{beer.review}}</span>

    <img class="image-beer" src="{{beer.image}}">

    <hr>
      <h1 class="reviewsheader">Reviews</h1>
      <div class="jumbotron text-center" ng-repeat="review in beer.reviews">
       
        <br>
        <br>
        <h4>{{review.name}}</h4>
        <p><strong>{{review.text}}</strong></p>

        <p></p>
      </div>
    </hr>

    <input type="text" placeholder="Add a review" ng-model="reviewText">
    <button class="btn btn-primary" ng-click="addReview()">Post</button>
  
  </div>
</div>